#id
{
    background-color: rgb(34, 109, 145);
    color: white;
    width: 18%;
}
#adrs
{
    background-color: rgb(183, 38, 240);
    color: white;
    width: 26%;
}
#inf
{
    background-color: rgb(197, 25, 77);
    color: white;
    width: 35%;
}