body{
    margin: 58px;
}
.fieldset1, .legend1{
    background-color: rgb(34, 109, 145);
}
.fieldset2, .legend2{
    background-color: rgb(145, 34, 121);
}
.fieldset3, .legend3{
    background-color: rgb(221, 55, 55);
}

/* pour mettre un doigt pointé quant-on met le curseur sur J'achète*/
input[type=button] {
    cursor: pointer;
  }
